:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin: 2rem 0 1rem 0;
}

h1 {
  display: inline-block;
  font-size: 3em;
  line-height: 1.1;
  margin: auto 1rem;
}

h2 {
  margin-bottom: 0;
}

table {
  border: #213547 solid;
  margin: 2rem auto 2rem auto;
  border-collapse: collapse;
}

thead {
  background-color: #e8e8e6;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#football {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.grid {
  stroke: lightgrey;
  stroke-opacity: 0.2;
  shape-rendering: crispEdges;
}
