@import "tailwindcss";

@theme {
  --font-sans: 'InterVariable', sans-serif;
  --animate-spin: spin 10s linear infinite;
}

:root {
  color: #213547;
  /* background-color: #ffffff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

table {
  border: #213547 solid;
  margin: 2rem 1rem 0.5rem 1rem;
  border-collapse: collapse;
}

thead {
  background-color: #e8e8e6;
}

td,
th {
  word-wrap: break-word;
}

#legend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid {
  stroke: lightgrey;
  stroke-opacity: 0.1;
  shape-rendering: crispEdges;
}
