@import "tailwindcss";

@theme {
  --font-sans: 'InterVariable', sans-serif;
  --animate-spin: spin 10s linear infinite;
}

:root {
  color: #213547;
  /* background-color: #ffffff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

th {
  text-align: center;
  padding: 0.25rem 0;
}

td {
  word-wrap: break-word;
  padding: 0.25rem 0;
}


#legend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid {
  stroke: lightgrey;
  stroke-opacity: 0.1;
  shape-rendering: crispEdges;
}
